body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.button {
    background-color: #3882f9;
    padding: 5px 20px;
    border-radius: 7px;
}

/* Header */
header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.logo {
    border-radius: 50%;
    width: 40px;
    height: auto;
    flex-shrink: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
}

.headnav{
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    color: #e5e7eb;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
}

.title {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* First Section */

.firstsec {
    background-color: #1f2937;
    display: flex;
    padding: 32px;
    padding-bottom: 50px;
    gap: 200px;
    height: 300px;
    justify-content: center;
}

.herotext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosub {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.herologo {
    max-height: 300px;
    max-width: 400px;
    align-self: center;    padding: 0 20px;
    /* flex: 1; */

}

.container {
    align-self: center;
    width: 400px;
    flex-wrap: wrap;
    /* flex: 1; */
}

/* Second Section */


.information {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 42px;
}

.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.populardeals {
    text-align: center;
    flex-wrap: wrap;
    max-width: 150px;
    max-height: 150px;
}

.secondsec {
    padding-bottom: 70px;
}

.dealtext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
}

.populardeals img {
    border-radius: 8px;
    border: 3px solid #3882f6;
}
/* Section three */
